#faq .border-b {
  border-color: var(--accent);
}
#faq .border-b:last-child {
  border-color: transparent;
}

#faq .border-b:last-child button[data-state="closed"] {
  padding-bottom: 0;
}

#faq .border-b:last-child div {
  padding-bottom: 0;
}
