@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

::-webkit-scrollbar {
  display: none;
}

:root {
  --dark: #173d33;
  --light: rgba(243, 245, 250, 1);
  --accent: rgba(151, 210, 139, 1);
}

html,
body {
  font-family: var(--font-fira-sans), sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald), sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
