@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

:root {
  --dark: rgba(23, 61, 51, 1);
  --light: rgba(243, 245, 250, 1);
  --accent: rgba(151, 210, 139, 1);
}

html,
body {
  font-family: var(--font-fira-sans), sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

/* couldn't do without it: (blurred header shift when menu clicked) */
::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald), sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }

  .section-active {
    @apply text-primary-300;
  }
  .section-notactive {
    @apply text-white/25;
  }
}
